<body>

  <section>
    <div class="logo">
      <h2>{{titulo}}</h2>
    </div>
  </section>

  <section class="buscador">
    <input type="text" (input)="manejarBusqueda($event)" placeholder="Buscar...">
  </section>

  <section class="contenedor">

    <div class="tarjeta linksCargados" *ngFor="let link of listaLinks">

      <button mat-icon-button [matMenuTriggerFor]="menu" id="menu">
        <i class="fa-solid fa-ellipsis"></i>
      </button>
      <mat-menu #menu="matMenu" class="menu-personalizado">
        <button mat-menu-item (click)="putsLink(link)">
          <i class="fa-solid fa-pen-to-square edit"></i>
        </button>
        <button mat-menu-item (click)="favorito(link)">
          <i class="fa-solid fa-star" *ngIf="link.favorito"></i>
          <i class="fa-regular fa-star" *ngIf="!link.favorito"></i>
        </button>
        <button mat-menu-item (click)="deleteLink(link)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </mat-menu>
      <img src="{{link.imagen}}" alt="">
      <a href="{{link.url}}" target="_blank" *ngIf="link.categoria=='Manga-Manhwa'">{{truncarTexto(link.nombre,20)}} - {{link.capitulo}}</a>
      <a href="{{link.url}}" target="_blank" *ngIf="link.categoria!='Manga-Manhwa' && link.categoria!='General'">{{truncarTexto(link.nombre,20)}}</a>
      <a href="{{link.url}}" *ngIf="link.categoria=='General'">{{truncarTexto(link.nombre,20)}}</a>
    </div>

    <div class="tarjeta agregar">
      <button mat-mini-fab (click)="postLink('General')"><i class="fa-solid fa-plus"></i></button>
    </div>

  </section>

  <div class="d-flex justify-content-center w-100" *ngIf="totalLinks != 0">
    <nav aria-label="Page navigation" class="mt-3">
      <ul class="pagination cursor">
        <li class="page-item" [class.disabled]="paginaActual === 1">
          <a class="page-link" (click)="cambiarPagina(paginaActual - 1)" aria-label="Previous">
            <span aria-hidden="true"><i class="fa-solid fa-carrot fa-rotate-by"
                style="color: #ffc054; --fa-rotate-angle: 40deg;"></i></span>
          </a>
        </li>

        <li class="page-item cursor" [class.disabled]="esPaginaActual(numPagina)" (click)="cambiarPagina(numPagina)"
          *ngFor="let numPagina of paginas()">
          {{ numPagina }}
        </li>


        <li class="page-item" (click)="cambiarPagina(paginaActual + 1)"
          [class.disabled]="paginaActual === totalPaginas()">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true"><i class="fa-solid fa-carrot fa-rotate-by"
                style="color: #ffc054; --fa-rotate-angle: 220deg;"></i></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</body>