.fondo {
    width: 100%;
    height: 100%;
}

#mapa {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-image: url("../../../../../../assets/img/Juego/lago.jpeg");
    height: 100%;
}

:host {
    display: block;
    width: 100%;
    height: 100%;
}

#mapa button {
    border-radius: 100%;
    background-color: aliceblue;
    width: 20px;
    height: 20px;
    display: flex;
    position: absolute;
}

#pesca {
    bottom: 40%;
    left: 50%;
}

#tienda {
    left: 10%;
    top: 40%;
}

#mundo {
    bottom: 3%;
    left: 50%;
}