#logoCurso {
  display: flex;
  justify-content: center;
}

body div {
  position: relative;
  width: 100%;
  padding-left: 4rem;

}

h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Gluten", cursive;
}

a {
  text-decoration: none;
  color: rgb(179, 98, 255);
}

.video {
  text-align: center;
  margin-bottom: 3rem;
  box-shadow: 4px 3px 5px #000000;
  border-radius: 10px;
  height: 4rem;
  overflow: hidden;
  transition: 1s;
  padding-top: 1rem;
}

.video:hover {
  height: 30rem;
}

section iframe {
  margin: 0 auto;
}

#tituloClases {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-family: "Gluten", cursive;
}

.tipo1 {
  background-color: #ffce8e;
}

.tipo2 {
  background-color: #c1ff8e;
}

.tipo3 {
  background-color: #8ebbffb9;
}

.tipo4 {
  background-color: #fc89c2;
}

ul {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

li {
  margin-bottom: 0.5rem;
}

.clases {
  margin: 0;
  padding: 0;
  width: 100%;
}

.clases ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.clases ul li {
  background-color: var(--color-celeste);
  padding: 0.5rem;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--sombra-generica);
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

body {
  padding-left: 2rem;
}