<header>
    <div id="logoPortada">
      <img
        src="../../../assets/img/conejoIzDia.png"
        alt="Conejo sentado"
        class="ConejoPortada"
      />
  
      <a href="/home">
        <h1>CariCueva</h1>
      </a>
  
      <img
        src="../../../assets/img/conejoDeDia.png"
        alt="Conejo acostado"
        class="ConejoPortada"
      />
    </div>
  
    <nav>
      <ul id="botonera">
        <li>
          <a href="/home-estudios" class="tituloBoton"
            ><i class="fa-solid fa-laptop-code" style="color: #80aeff"></i>
            <span>Estudios</span></a
          >
          <ul>
            <li>
              <a href="/cosas-utiles">Cosas utiles</a>
            </li>
            <li>
              <a href="">Cursos</a>
            </li>
            <li><a href="">Facultad</a></li>
          </ul>
        </li>
  
        <li>
          <a href="" class="tituloBoton"
            ><i class="fa-solid fa-ghost" style="color: #eb91ff"></i> Juegos</a
          >
          <ul>
            <li>
              <a href="/home-bdo">Black Dessert</a>
            </li>
            <li>
              <a href="/home-palia">Palia</a>
            </li>
          </ul>
        </li>
  
        <li>
          <a href="" class="tituloBoton"
            ><i
              class="fa-regular fa-envelope"
              style="color: #e29be4"
              title="Contacto"
            ></i>
            Otros</a
          >
          <ul>
            <li>
              <a href="">Formulario</a>
            </li>
          </ul>
        </li>
  
        <li>
          <a href="" class="tituloBoton"
            ><i class="fa-solid fa-moon" style="color: #b3c000"></i>Modo noche</a
          >
        </li>
      </ul>
    </nav>
  </header>
  
