<form [formGroup]="rutinaSemana">
    <h2>Rutina para la semana</h2>
    <section>
        <div>
            <p>Nombre</p>
            <input type="text" formControlName="nombre" placeholder="Nombre de la rutina">
        </div>
        <div>
            <p>Dias de la rutina</p>
            <div id="listDays">
                <div *ngFor="let dia of diasSemana">
                        <input type="checkbox" (change)="checkBox(dia)" class="check">
                        <label class="dia">{{ dia | titlecase }}</label>
                </div>
            </div>
        </div>
        <div>
            <p>Horario Inicio</p>
            <input type="time" formControlName="horarioInicio" class="inputHorario">
            <p>Horario Fin</p>
            <input type="time" formControlName="horarioFin" class="inputHorario">
        </div>
        <div class="botones">
            <button class="cancelar" type="button" (click)="cancelar()">
                <p>Cancelar</p>
            </button>
            <button class="confirmar" (click)="putsRutina()">
                <p>Terminar</p>
            </button>
        </div>
    </section>
</form>