<body>

    <nav>
        <ol>
            <li (click)="moverse('cosasimportantes')">Cosas importantes</li>
            <li><a href="#clase0">1</a></li>
            <li><a href="#clase1">2</a></li>
            <li><a href="#clase2">3</a></li>
            <li><a href="#clase3">4</a></li>
            <li><a href="#clase4">5</a></li>
            <li><a href="#clase5">6</a></li>

        </ol>
    </nav>

    <div>
        <section id="logoCurso">
            <img src="../../../../../assets/img/codoAcodo.png" alt="logoCodoACodo" />
        </section>

        <section class="cosasImportantes">

            <h3 id="cosasimportantes">Cosas importantes:</h3>

            <ul>
                <li>Dias: Martes y Jueves</li>
                <li>Horario: 18:30 a 20:00</li>
                <li>Comision: 24196</li>
                <li>Link del meet para la clase: https://meet.google.com/way-wseb-soz</li>
                <li>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd2wIH6dFvPCTS_tOPVC8_WEzbdbvkSaBPFi7XXF8JVPXx_BQ/closedform"
                        target="_blank">Asistencia</a>
                </li>
                <li>
                    <a href="https://aulasvirtuales.bue.edu.ar">Campus Codo a codo</a>
                </li>
                <li>Mail de Docente: ayelen.leclerc@bue.edu.ar</li>
                <li>
                    <a href="https://drive.google.com/drive/folders/1NlbSI3u9Q0nhHI8xSZuVw31RwNqk2wOm?usp=sharing"
                        target="_blank">Drive
                        pasado por la docente</a>
                </li>
                <li>
                    <a href="https://youtube.com/playlist?list=PLgjy32OHiHreYdZp8lsI1GNdn8CU6krLZ&feature=shared"
                        target="_blank">Videos de la clase</a>
                </li>
                <li>
                    <a href="https://docs.google.com/forms/d/1jqyo9D5Bno8UE-Um8WcIT_m0pD4a_xGhrKfAzUn6QlE/viewform?edit_requested=true"
                        target="_blank">Formulatio Tutor</a>
                </li>
                <li>
                    <a href="https://docs.google.com/spreadsheets/d/1_pBiSy9SZD2HnU3UVsYmpUlN7jnH5rQVWzZKouKguEI/edit#gid=1110984298"
                        target="_blank">TP integrador</a>
                </li>
            </ul>

        </section>

        <h2 class="tituloClases">Videos de las clases</h2>

        <section class="video">

            <h3 id="clase0" class="centro">Clase 0</h3>

            <dl>
                <dt>
                    <h4>Temas</h4>
                </dt>
                <dd>
                    Presentacion de la cursada
                </dd>
            </dl>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/K24dgDJI_b8?si=qoBH9875Q6ULQ6tN"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </section>

        <section class="video"> 
            <h3 id="clase1" class="centro">Clase 1</h3>

            <dl>
                <dt>
                    <h4>Temas</h4>
                </dt>
                <dd>
                    Teoria del testing parte I
                </dd>
            </dl>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/c1I3HMUkhA4?si=pFvT5jyUwXIODTWN"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </section>

        <section class="video"> 
            <h3 id="clase2" class="centro">Clase 2</h3>

            <dl>
                <dt>
                    <h4>Temas</h4>
                </dt>
                <dd>
                    Teoria del testing parte II
                </dd>
            </dl>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YXYaHh843Vk?si=-cB1dA97EHu-6S3D"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </section>

        <section class="video">
            <h3 id="clase3" class="centro">Clase 3</h3>

            <dl>
                <dt>
                    <h4>Temas</h4>
                </dt>
                <dd>
                    Teoria del testing parte III
                </dd>
            </dl>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/47KGiDaxaXE?si=4YRXVGYiHyE-abDO"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </section>
    </div>

</body>