<body>

    <section id="titulo">
        <img src="../../../../../../assets/img/Juego/cartelPj.png" alt="cartel name">
        <h3>nombrePj</h3>
    </section>

    <section id="avatar">
        <button (click)="detallePj()"> <img src="../../../../../../assets/img/Juego/Tiendas/pj.png" alt="avatar pj">
        </button>
    </section>

    <section id="inventario">
        <button (click)="abrirInventario()"> <img src="../../../../../../assets/img/Juego/mochila.webp" alt="">
        </button>
    </section>

</body>