<body>
    <section id="mapa">
        <!--este se habilita cuando compremos herramientas-->
        <button id="cocina" title="Cocinar"></button>
        <!--este se habilita cuando compremos herramientas-->
        <button id="crafteo" title="Fabricar"></button>
        <!--este se habilita cuando compremos herramientas-->
        <button id="patio" title="Patio" routerLink="/home-juego-rpg/mapa-patio"></button>
        <button id="cama" title="Dormir"></button>
        <button id="mundo" title="Regresar al mapa" routerLink="/home-juego-rpg/mapa-mundo"></button>
    </section>
</body>