<body class="cuerpo-pagina">

  <section>

    <img id="keigo" src="../../../assets/img/keigo.png" alt="keigo" />
    <img id="alastor" src="../../../assets/img/alastor.png" alt="Alastor sentado" />

  </section>


  <section id="primerSector">

    <div id="conteinerPendientes">

      <div id="huskNotas">
        <img
          src="../../../assets/img/bunny.gif"
          alt="">
      </div>

      <div id="notas">

        <div class="tituloCuadros">

          <h2>Pendientes</h2>
          <img src="https://cdn-icons-png.freepik.com/512/4436/4436002.png" alt="notas" />

        </div>

        <ul id="listaPendientes">
          <li *ngFor="let pendiente of listaPendientes">
            <p>[{{pendiente.tipo}}]</p>
            <p>{{pendiente.descripcion}}</p>
            <button (click)="eliminarPendiente(pendiente)"><i class="fa-solid fa-trash"></i></button>
          </li>
        </ul>

        <form>

          <input type="text" id="tipoTarea" name="tipoTarea" [(ngModel)]="nuevoPendiente.tipo"
            placeholder="Tipo tarea" />
          <input type="text" id="descripcionTarea" name="tarea" [(ngModel)]="nuevoPendiente.descripcion"
            placeholder="Descripcion tarea" />
          <button (click)="postPendientes()" type="button" class="botonEstilo botonNotas">Nuevo pendiente</button>

        </form>

      </div>

    </div>

    <div id="conteinerCalendario">

      <div id="husk">
        <img src="https://i.pinimg.com/originals/98/a6/3b/98a63bdb38d183ec79df3e6b523e7d59.png" alt="">
      </div>

      <div id="horarios">

        <div class="tituloCuadros" id="tituloHorario">
          <h2>Horarios</h2>
          <img src="https://i0.wp.com/www.iesc.edu.pa/sites/default/files/images/homepage/calendario.png" alt="" />
        </div>

        <div class="tabla">
          <table>
            <thead>
              <tr>
                <th>Horario/Día</th>
                <th *ngFor="let dia of diasSemana">{{ dia }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let horario of listaHorarios">
                <td>{{ horario }}</td>
                <td *ngFor="let dia of diasSemana">
                  <div *ngFor="let rutina of listaRutinas">
                    <div *ngIf="(rutina.dia.includes(dia) && (rutina.horarioInicio <= horario && rutina.horarioFin >= horario))">
                      {{ rutina.nombre }} 
                      <button (click)="eliminarActividad(rutina)"><i class="fa-solid fa-trash"></i></button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="botonCentro"><button class="botonEstilo botonHorarios" (click)="putRutina()">Agregar</button></div>

      </div>

    </div>

  </section>

  <section class="containerCalendario">

    <div id="catCalendar">
      <img
        src="../../../assets/img/tumblr_mrw6rgd77u1rfjowdo1_500.gif"
        alt="">
    </div>

    <div class="tituloCuadros">

      <h2>★゜・。。・゜☆゜・。。・゜★ Calendario ★゜・。。・゜☆゜・。。・゜★</h2>

    </div>

    <div>
      <ul id="listaColoresCalendario">
        <li>
          <p id="ListaColoresExamen">Examen / TP Final</p>
        </li>
        <li id="ListaColoresTarea">
          <p>Tarea</p>
        </li>
        <li id="ListaColoresEvento">
          <p>Evento</p>
        </li>
        <li id="ListaColoresMedico">
          <p>Medico</p>
        </li>
      </ul>
    </div>

    <div class="calendario">
      <div class="nombreMes">

        <h3> <i class="fa-solid fa-frog fa-flip-horizontal" (click)="cambiarMes(-1)"></i> {{mesSeleccionado.nombre}}
          <i class="fa-solid fa-frog" (click)="cambiarMes(1)"></i>
        </h3>

      </div>

      <div class="tabla-mas-lista">

        <table class="tablaMes">

          <thead>
            <tr>
              <th>Lunes</th>
              <th>Martes</th>
              <th>Miercoles</th>
              <th>Jueves</th>
              <th>Viernes</th>
              <th>Sabado</th>
              <th>Domingo</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let semana of numeroSemanas; let i = index">
              <td *ngFor="let dia of [0,1,2,3,4,5,6]">
                <ng-container *ngIf="i === 0 && dia < diaInicio - 1; else elseBlock"></ng-container>
                <ng-template #elseBlock>
                  {{ ((i * 7) + dia + 1 - diaInicio + 1 <= diaMes.length) ? ((i * 7) + dia + 1 - diaInicio + 1) : '' }}
                    </ng-template>
                    <div class="anotaciones">

                    </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="muetraEventos">
          <h3>Lista de eventos</h3>
        </div>

      </div>

      <div class="botonCentro"><button class="botonEstilo botonCalendario" (click)="postEvento()">Agregar</button>
      </div>
    </div>

  </section>

</body>