/*-------------img de los costados-------------*/

#keigo {
  position: fixed;
  left: 0;
  top: 15%;
  width: 7%;
}

#alastor {
  position: fixed;
  right: 0;
  bottom: 1%;
  width: 8%;
  margin-right: 0.3rem;
}

/*-------------------------------------------------------*/

/*--------------------cuerpo pagina---------------------*/

h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "Gluten", cursive;
  margin: 0;
  padding: 0;
  margin-right: 1rem;
}

h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  font-family: "Gluten", cursive;
  margin: 1rem;
  box-shadow: 4px 3px 5px #000000;
  border-radius: 20px;
  padding: 1rem;
  background-color: rgba(99, 255, 255, 0.588);
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
}

table td,
th {
  border: 1px solid black;
  padding: 0.3rem;
}

/*--------------------cuerpo pagina sector 1--------------------*/

/*--------------------nota--------------------*/

#primerSector {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 9rem;
}

#notas {
  border-radius: 20px;
  background-color: var(--color-rosa);
  box-shadow: var(--sombra-generica);
  padding: 1rem;
}

#notas ul li {
  list-style: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-bottom: 0.5rem;
}

#notas ul li p {
  margin: 0px;
  margin-right: 0.5rem;
}

#notas ul li button {
  background-color: #4caf4f00;
  border: 0px;
  cursor: pointer;
}

.tituloCuadros {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.tituloCuadros img {
  height: 10%;
  width: 10%;
}

form {
  text-align: center;
}

input {
  padding: 0.3rem;
  border-radius: 5px;
  margin: 0.3rem;
  border: 0px;
  padding-left: 10px;
  margin-top: 1rem;
}

#tipoTarea {
  width: 25%;
}

#descripcionTarea {
  width: 60%;
}

.botonNotas {
  background-color: rgba(255, 142, 247, 0.706);
}

/*-------------------------------------------------------*/

/*------------------------horario------------------------*/

#horarios {
  background-color: var(--color-naranja);
  border-radius: 20px;
  box-shadow: var(--sombra-generica);
  padding: 1rem;
  position: relative;
  z-index: 1;
}

.botonHorarios {
  background-color: rgba(255, 99, 99, 0.706);
}

#conteinerCalendario {
  position: relative;
  width: 50%;
}

#husk img {
  width: 300px;
}

#husk {
  position: absolute;
  left: 0;
  top: -76px;
  z-index: 2;
}

#tituloHorario {
  width: 100%;
  justify-content: center;
  margin-left: 1rem;
}

#conteinerPendientes {
  position: relative;
  width: 35%;
}

#huskNotas {
  position: absolute;
  top: -130px;
  z-index: 2;
}

#huskNotas img {
  width: 150px;
}

.tabla {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.tabla th {
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
}

.tabla button {
  background-color: #4caf4f00;
  border: 0px;
  cursor: pointer;

}

#listaRutinas {
  margin-top: 1rem;
}

#listaRutinas ul {
  list-style: none;
}

#listaRutinas li {
  margin: 0rem;
}

/*-------------------------------------------------------*/

/*-------------------------------------------------------*/


/*--------------------cuerpo pagina sector 2--------------------*/

.containerCalendario {
  margin-top: 5rem;
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  background-color: var(--color-amarillo);
  overflow: auto;
  border-radius: 20px;
  box-shadow: var(--sombra-generica);
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  position: relative;
  overflow: visible;
  padding-left: 1rem;
  padding-right: 1rem;
}

.containerCalendario h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#catCalendar {
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: 3;
}

#catCalendar img {
  width: 150px;
}

.containerCalendario {
  position: relative;
  z-index: 1;
}

.examen {
  background-color: var(--color-rojo);
}

.tarea {
  background-color: var(--color-celeste);
}

.evento {
  background-color: var(--color-violeta);
}

.medico {
  background-color: var(--color-verde);
}

.containerCalendario ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.containerCalendario ul li {
  font-size: 2rem;
  -webkit-text-stroke: 0.2px #000;
}

#ListaColoresExamen {
  color: var(--color-rojo);
}

#ListaColoresTarea {
  color: var(--color-celeste);
}

#ListaColoresEvento {
  color: var(--color-violeta-links);
}

#ListaColoresMedico {
  color: var(--color-verde);
}

.tablaMes {
  font-size: 2rem;
  margin: 1rem;
}

.botonCalendario {
  background-color: rgba(220, 220, 0, 0.819);
}

.calendario table {
  width: 70%;
}

.muetraEventos {
  background: var(--color-celeste);
  height: auto;
  width: 20%;
}

.tabla-mas-lista {
  display: flex;
  justify-content: space-evenly;
}

.muetraEventos {
  border-radius: 20px;
  box-shadow: var(--sombra-generica);
  padding: 1rem;
}

/*-------------------------------------------------------*/

.botonEstilo {
  width: 200px;
  margin-top: 1rem;
  border-radius: 20px;
  border: 0px;
  padding: 0.5rem;
}

.botonCentro {
  display: flex;
  justify-content: center;
}

.tablaMes {
  border-collapse: collapse;
  width: 100%;
}

.tablaMes th,
.tablaMes td {
  border: 1px solid black;
  padding: 10px;
  position: relative;
}