<body class="cuerpo-pagina">

    <section>
        <div class="logo">
            <img src="https://twoscents.com.au/cdn/shop/products/33-Takashi-Naruto.png?v=1626078243&width=533"
                alt="nifty">
            <h2>Links y capítulos de anime</h2>
            <img src="https://i.pinimg.com/originals/0b/97/59/0b9759374c4790df768ad07095e4a0e8.png"
                alt="utiles">
        </div>
    </section>

    <section class="contenedor">

        <div class="tarjeta linksCargados" *ngFor="let link of listaLinks">

            <button mat-icon-button [matMenuTriggerFor]="menu" id="menu">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
            <mat-menu #menu="matMenu" class="menu-personalizado">
                <button mat-menu-item>
                    <i class="fa-solid fa-pen-to-square edit" (click)="putsLink(link)"></i>
                </button>
                <button mat-menu-item>
                    <li><i class="fa-solid fa-trash" (click)="deleteLink(link)"></i></li>
                </button>
            </mat-menu>
            <img src="{{link.imagen}}" title="{{link.descripcion}}">
            <a href="{{link.url}}" target="_blank">{{link.nombre}} - {{link.capitulo}}</a>
        </div>

        <div class="tarjeta agregar">
            <button mat-mini-fab (click)="postLink()"><i class="fa-solid fa-plus"></i></button>
        </div>

    </section>

</body>
