<body class="cuerpo-pagina">

    <section>
        <div class="logo">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/66d316cf-e03e-4783-a3ce-685463d2e354/debo7gz-26790f96-05c1-4592-80f0-ee6eb26de92a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY2ZDMxNmNmLWUwM2UtNDc4My1hM2NlLTY4NTQ2M2QyZTM1NFwvZGVibzdnei0yNjc5MGY5Ni0wNWMxLTQ1OTItODBmMC1lZTZlYjI2ZGU5MmEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.OxNLWSRTnxWXWJBqeqreqkP_-57i3l4bSsE1wypULNc"
                alt="nifty">
            <h2>Links y capítulos de anime</h2>
            <img src="https://png.pngtree.com/png-clipart/20230916/original/pngtree-school-books-in-chibi-style-by-etsy-for-digital-use-vector-png-image_12229576.png"
                alt="utiles">
        </div>
    </section>

    <section class="contenedor">

        <div class="tarjeta linksCargados" *ngFor="let link of listaLinks">

            <button mat-icon-button [matMenuTriggerFor]="menu" id="menu">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
            <mat-menu #menu="matMenu" class="menu-personalizado">
                <button mat-menu-item>
                    <i class="fa-solid fa-pen-to-square edit" (click)="putsLink(link)"></i>
                </button>
                <button mat-menu-item>
                    <li><i class="fa-solid fa-trash" (click)="deleteLink(link)"></i></li>
                </button>
            </mat-menu>
            <img src="{{link.imagen}}" title="{{link.descripcion}}">
            <a href="{{link.url}}" target="_blank">{{link.nombre}} - {{link.capitulo}}</a>
        </div>

        <div class="tarjeta agregar">
            <button mat-mini-fab (click)="postLink()"><i class="fa-solid fa-plus"></i></button>
        </div>

    </section>

</body>
