<body>

    <section>
        <div class="logo">
            <h2>˚ ‿︵‿︵‿︵୨୧ Links y capítulos de anime ୨୧‿︵‿︵‿︵ ˚</h2>
        </div>
    </section>

    <section class="contenedor">

        <div class="tarjeta linksCargados" *ngFor="let link of listaLinks">

            <button mat-icon-button [matMenuTriggerFor]="menu" id="menu">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
            <mat-menu #menu="matMenu" class="menu-personalizado">
                <button mat-menu-item>
                    <i class="fa-solid fa-pen-to-square edit" (click)="putsLink(link)"></i>
                </button>
                <button mat-menu-item>
                    <li><i class="fa-solid fa-trash" (click)="deleteLink(link)"></i></li>
                </button>
            </mat-menu>
            <img src="{{link.imagen}}" title="{{link.descripcion}}">
            <a href="{{link.url}}" target="_blank">{{truncarTexto(link.nombre,20)}} - {{link.capitulo}}</a>
        </div>

        <div class="tarjeta agregar">
            <button mat-mini-fab (click)="postLink()"><i class="fa-solid fa-plus"></i></button>
        </div>

    </section>

    <div class="d-flex justify-content-center w-100" *ngIf="totalLinks != 0">
      <nav aria-label="Page navigation" class="mt-3">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="paginaActual === 1">
            <a class="page-link" (click)="cambiarPagina(paginaActual - 1)" aria-label="Previous">
              <span aria-hidden="true"><i class="fa-solid fa-carrot fa-rotate-by" style="color: #ffc054; --fa-rotate-angle: 40deg;"></i></span>
              
            </a>
          </li>
    
          <li class="page-item" *ngFor="let numPagina of paginas()">
              <a class="page-link" (click)="cambiarPagina(numPagina)" [class.disabled]="esPaginaActual(numPagina)">
                {{ numPagina }}
              </a>
            </li>
            
    
          <li class="page-item" [class.disabled]="paginaActual === totalPaginas()">
            <a class="page-link" (click)="cambiarPagina(paginaActual + 1)" aria-label="Next">
              <span aria-hidden="true"><i class="fa-solid fa-carrot fa-rotate-by" style="color: #ffc054; --fa-rotate-angle: 220deg;"></i></span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

</body>