<body class="cuerpo-pagina">

    <section>
        <div class="logo">
            <img src="https://i.pinimg.com/originals/82/4b/9b/824b9b7710d24a915be4785a32765554.png"
                alt="nifty">
            <h2>Paginas de idiomas</h2>
            <img src="https://i.pinimg.com/originals/83/77/9f/83779f6a871e7f62513edc8cff13cecb.png"
                alt="utiles">
        </div>
    </section>

    <section class="contenedor">

        <div class="tarjeta linksCargados" *ngFor="let link of listaLinks">

            <button mat-icon-button [matMenuTriggerFor]="menu" id="menu">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
            <mat-menu #menu="matMenu" class="menu-personalizado">
                <button mat-menu-item>
                    <i class="fa-solid fa-pen-to-square edit" (click)="putsLink(link)"></i>
                </button>
                <button mat-menu-item>
                    <li><i class="fa-solid fa-trash" (click)="deleteLink(link)"></i></li>
                </button>
            </mat-menu>
            <img src="{{link.imagen}}" title="{{link.descripcion}}">
            <a href="{{link.url}}" target="_blank">{{link.nombre}}</a>
        </div>

        <div class="tarjeta agregar">
            <button mat-mini-fab (click)="postLink()"><i class="fa-solid fa-plus"></i></button>
        </div>

    </section>

</body>