<body>

    <section>
        <div class="logo">
            <h2>✯*¨*•✿•*¨*•.¸✯ Links utiles Programacion ✯¸.•*¨*•✿•*¨*✯</h2>
        </div>
    </section>

    <section class="contenedor">

        <div class="tarjeta linksCargados" *ngFor="let link of listaLinks">

            <button mat-icon-button [matMenuTriggerFor]="menu" id="menu">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
            <mat-menu #menu="matMenu" class="menu-personalizado">
                <button mat-menu-item>
                    <i class="fa-solid fa-pen-to-square edit" (click)="putsLink(link)"></i>
                </button>
                <button mat-menu-item>
                    <li><i class="fa-solid fa-trash" (click)="deleteLink(link)"></i></li>
                </button>
            </mat-menu>
            <img src="{{link.imagen}}" alt="" title="{{link.descripcion}}">
            <a href="{{link.url}}" target="_blank">{{truncarTexto(link.nombre,20)}}</a>

            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
            </mat-paginator>
        </div>

        <div class="tarjeta agregar">
            <button mat-mini-fab (click)="postLink()"><i class="fa-solid fa-plus"></i></button>
        </div>

    </section>

</body>