<body class="cuerpo-pagina">

  <section>
      <div class="logo">
          <img src="https://i.pinimg.com/originals/f6/48/57/f64857e98b6636b41a972e04c88b8890.png"
              alt="nifty">
          <h2>Links utiles Programacion</h2>
          <img src="https://preview.redd.it/all-stolas-official-art-pt-1-v0-7zpbigljspxa1.png?width=500&format=png&auto=webp&s=a614a4a248b99936909c5e1604391b8906cc11bb"
              alt="utiles">
      </div>
  </section>

  <section class="contenedor">

      <div class="tarjeta linksCargados" *ngFor="let link of listaLinks">

          <button mat-icon-button [matMenuTriggerFor]="menu" id="menu">
              <i class="fa-solid fa-ellipsis"></i>
          </button>
          <mat-menu #menu="matMenu" class="menu-personalizado">
              <button mat-menu-item>
                  <i class="fa-solid fa-pen-to-square edit" (click)="putsLink(link)"></i>
              </button>
              <button mat-menu-item>
                  <li><i class="fa-solid fa-trash" (click)="deleteLink(link)"></i></li>
              </button>
          </mat-menu>
          <img src="{{link.imagen}}" alt="" title="{{link.descripcion}}">
          <a href="{{link.url}}" target="_blank">{{link.nombre}}</a>
      </div>

      <div class="tarjeta agregar">
          <button mat-mini-fab (click)="postLink()"><i class="fa-solid fa-plus"></i></button>
      </div>

      <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
    </mat-paginator>

  </section>

</body>