.fondo { 
    width: 100%;
    height: 100%;
}
#mapa { 
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-image: url("/assets/img/Juego/mapa.jpeg");
    height: 100%;
}
:host {
    display: block;
    width: 100%;
    height: 100%;
}

#mapa button{
border-radius: 100%;
background-color: aliceblue;
width: 20px;
height: 20px;
display: flex;
position: absolute;
}

#lago{
    bottom: 5%;
    right: 10%;
}

#mina{
    top: 5%;
    right: 30%;
}

#pueblo{
    top: 50%;
    left: 20%;
}

#bosque{
    top: 30%;
    right: 15%;
}