<body>

    <section class="seccion1">
        <div class="logo">
            <img src="../../../../assets/img/conejoJuegos.png" alt="imagen conejo juegos">
        <h2>Juegos</h2>
        <img src="../../../../assets/img/mapache juegos.png" alt="imagen mapache juegos">
    </div>
    </section>

    <section class="seccion2">
        <img src="https://bdm.tools/img/blackspirit_3.png" alt="black spirit">
        <a href="/home-bdo"><h3>Black dessert online</h3></a>
    </section>

    <section class="seccion3">
        <img src="https://images.ctfassets.net/qyr5bjm559gz/33eZf1Zez601FIvw30kn39/167b83df9ce07ed9e0c229abda0cb768/footer-chapaa.png" alt="logo palia">
        <a href="/home-palia"><h3>Palia</h3></a>
    </section>

    <section class="seccion3">
        <img src="" alt="game">
        <a href="/home-juego-rpg/mapa-mundo"><h3>Juego</h3></a>
    </section>

</body>
