body{
    background-image: url("https://img.freepik.com/free-vector/gradient-pastel-sky-background_23-2148917404.jpg?w=2000");
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 3rem;
    height: 100vh;
}

section{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    align-items: center;
}

.logo{
    display: flex;
}

.logo img{
    width: 90px;
    margin-right: 2rem;
    margin-left: 2rem;
}

h2{
    font-size: 4rem;
    font-family: 'Single Day', cursive;
    display: flex;
    align-items: center;
}

section img{
    width: 4rem;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
color: rgb(161, 0, 0);
}

h3{
    font-size: 2rem;
    font-family: 'Single Day', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion2{
padding-top: 10rem;
display: flex;
align-items: center;
}