section{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .logo{
    display: flex;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
  }
  
  h2{
    font-size: 3rem;
    font-family: 'Single Day', cursive;
    display: flex;
    align-items: center;
  }
  
  .mostrarLink{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
  }
  
  .mostrarLink a{
  padding: 1rem;
  font-size: 1.5rem;
  background-color: rgba(5, 5, 5, 0.733);
  color: white;
  text-decoration: none;
  transition: 1s;
  width: 100%;
  }
  
  .mostrarLink a:hover{
    padding: 2rem;
  }
  
  .contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }