<div id="codoAcodo">
    <ol id="indiceClases">
      <li><a href="#clase1">Clase 31-7</a></li>
      <li><a href="#clase2">Clase 2-8</a></li>
      <li><a href="#clase3">Clase 7-8</a></li>
      <li><a href="#clase4">Clase 9-8</a></li>
      <li><a href="#clase5">Clase 14-8</a></li>
      <li><a href="#clase6">Clase 16-8</a></li>
      <li><a href="#clase7">Clase 23-8</a></li>
      <li><a href="#clase8">Clase 28-8</a></li>
      <li><a href="#clase9">Clase 30-8</a></li>
      <li><a href="#clase10">Clase 4-9</a></li>
      <li><a href="#clase11">Clase 6-0</a></li>
      <li><a href="#clase12">Clase 13-9</a></li>
      <li><a href="#clase13">Clase 20-9</a></li>
    </ol>
  </div>
  <div id="videos">

      <img
        id="logoCursoCodoAcodo"
        src="../img/137408912-013f0d0c-37d1-4dc2-a1b5-77356c1003f3.png"
        alt="logoCodoACodo"
      />
    <div id="cosasImportantes">
            <h3>Cosas importantes:</h3>

            <ul>
              <li>Dias: Lunes y Miercoles</li>
              <li>Horario: 14:30 a 16:00</li>
              <li>Comision: 23550.0 Java</li>
              <li>Link del meet para la clase: meet.google.com/qpp-etyd-iws</li>
              <li>
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLSdz0e4gd8e0N1BnIiMjfPkflCtQVJvdOL1_HofwfQbqe9j0mA/closedform"
                  target="_blank"
                  >Asistencia</a
                >
              </li>
              <li>
                <a href="https://aulasvirtuales.bue.edu.ar">Campus Codo a codo</a>
              </li>
              <li>Mail de Gisela: gi.flores@bue.edu.ar</li>
              <li>
                <a
                  href="https://drive.google.com/drive/folders/1RVkGQg6pDD5Ew2LIynAuHYlB6UY5yw0L"
                  target="_blank"
                  >Drive pasado por la docente</a
                >
              </li>
              <li>
                <a
                  href="https://www.youtube.com/playlist?list=PLTiQ_YHUSSeBPWu97u9ROgpidWbv-p_NO"
                  target="_blank"
                  >Videos de la clase</a
                >
              </li>
              <li>
                <a
                  href="https://docs.google.com/spreadsheets/d/1K5bu0cwXaJTY7zBGthHxnW4rTiSOqXktKLBPwTzCXWU/edit#gid=0"
                  target="_blank"
                  >TP individuales</a
                >
              </li>
              <li>
                <a
                  href="https://docs.google.com/spreadsheets/d/1_pBiSy9SZD2HnU3UVsYmpUlN7jnH5rQVWzZKouKguEI/edit#gid=1110984298"
                  target="_blank"
                  >TP integrador</a
                >
              </li>
            </ul>
    </div>
   
    <h2 class="tituloClases">Videos de las clases</h2>

    <div id="clase1">
      <h3 id="clase1" class="numeroClase">Clase 1 (31-7-2023)</h3>

      <dl>
        <dt>
          <h4>Temas</h4>
        </dt>
        <dd>
          Presentacion de la cursada, temas administrativos, modalidad y
          campus
        </dd>
      </dl>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/CvHPhb7GmIg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>

      <br />

      <p class="volverInicio"><a href="#logoCursoCodoAcodo">Volver arriba</a></p>
    </div>

    <div id="clase2">
            <h3 id="clase2" class="numeroClase">Clase 2 (2-8-2023)</h3>

            <dl>
              <dt>
                <h4>Temas</h4>
              </dt>
              <dd>
                Conociendo IDE VS, atributos, introduccion etiquetas (Tags):
                comentarios, body, tittle, head, header, footer, parrafos, titulos,
                etc,
              </dd>
            </dl>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/9fjj9rsmC7s"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
    
            <br />
    
            <p class="volverInicio"><a href="#logoCursoCodoAcodo">Volver arriba</a></p>
    </div>

    <div id="clase3">
            <h3 id="clase3" class="numeroClase">Clase 3 (7-8-2023)</h3>

            <dl>
              <dt>
                <h4>Temas</h4>
              </dt>
              <dd>Listas (3 tipos), enlaces (3 tipos)</dd>
            </dl>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/9UPtriRIT4Q"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
    
            <br />
    
            <p class="volverInicio"><a href="#logoCursoCodoAcodo">Volver arriba</a></p>
    </div>

<div id="clase4">
    <h3 id="clase4" class="numeroClase">Clase 4 (9-8-2023)</h3>

    <dl>
      <dt>
        <h4>Temas</h4>
      </dt>
      <dd>Imagenes y videos</dd>
    </dl>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/3PU9hoV9Dsk?si=HEZK6Zxlbg9Vgpvs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <br />

    <p class="volverInicio"><a href="#logoCursoCodoAcodo">Volver arriba</a></p>
</div>

<div id="clase5">
<h3 id="clase5" class="numeroClase">Clase 5 (14-8-2023)</h3>

<dl>
<dt>
  <h4>Temas</h4>
</dt>
<dd></dd>
</dl>

<iframe width="560" height="315" src="https://www.youtube.com/embed/inumKgWPp5E?si=zo-NjlhOov6mBcq-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<br />

<p class="volverInicio"><a href="#logoCursoCodoAcodo">Volver arriba</a></p>
</div>

<div id="clase6">
<h3 id="clase6" class="numeroClase">Clase 6 (16-8-2023)</h3>

<dl>
<dt>
  <h4>Temas</h4>
</dt>
<dd></dd>
</dl>

<iframe width="560" height="315" src="https://www.youtube.com/embed/1qjY5XfK5S8?si=FFcrw_NzKKX6CpbN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<br />

<p class="volverInicio"><a href="#logoCursoCodoAcodo">Volver arriba</a></p>
</div>

<div id="clase7">
<h3 id="clase7" class="numeroClase">Clase 7 (23-8-2023)</h3>

<dl>
<dt>
  <h4>Temas</h4>
</dt>
<dd></dd>
</dl>

<iframe width="560" height="315" src="https://www.youtube.com/embed/WTyji1AXDo4?si=aT6rbHOMamPS82rc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  <br />

<p class="volverInicio"><a href="#logoCursoCodoAcodo">Volver arriba</a></p>
</div>

<div id="clase8">
<h3 id="clase8" class="numeroClase">Clase 8 (28-8-2023)</h3>

<dl>
<dt>
  <h4>Temas</h4>
</dt>
<dd></dd>
</dl>

<iframe width="560" height="315" src="https://www.youtube.com/embed/jnb1YGMEijk?si=YdYwMpQdZeLvhm-q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p class="volverInicio"><a href="#logoCursoCodoAcodo">Volver arriba</a></p>
</div>

<div id="clase9">
<h3 id="clase9" class="numeroClase">Clase 9 (30-8-2023)</h3>

<dl>
<dt>
  <h4>Temas</h4>
</dt>
<dd></dd>
</dl>
<iframe width="560" height="315" src="https://www.youtube.com/embed/6SQZzi0H020?si=SKeG0WDhqdCrBrhi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p class="volverInicio"><a href="#logoCursoCodoAcodo">Volver arriba</a></p>
</div>

<div id="clase10">
<h3 id="clase10" class="numeroClase">Clase 10 (4-9-2023)</h3>

<dl>
<dt>
  <h4>Temas</h4>
</dt>
<dd></dd>
</dl>
<iframe width="560" height="315" src="https://www.youtube.com/embed/c_565X2UfCQ?si=TP-AsvMgqtuDaDOt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p class="volverInicio"><a href="#logoCursoCodoAcodo">Volver arriba</a></p>
</div>

<div id="clase11">
<h3 id="clase11" class="numeroClase">Clase 11 (6-9-2023)</h3>

<dl>
<dt>
  <h4>Temas</h4>
</dt>
<dd></dd>
</dl>
<iframe width="560" height="315" src="https://www.youtube.com/embed/EZX-q3SXDzk?si=4LkrsP8Qe-3PQ8nl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p class="volverInicio"><a href="#logoCursoCodoAcodo">Volver arriba</a></p>
</div>

<div id="clase12">
<h3 id="clase12" class="numeroClase">Clase 12 (13-9-2023)</h3>

<dl>
<dt>
  <h4>Temas</h4>
</dt>
<dd></dd>
</dl>
<iframe width="560" height="315" src="https://www.youtube.com/embed/AB1-Lsk4yjc?si=PHnEHL9KJO4htw4L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p class="volverInicio"><a href="#logoCursoCodoAcodo">Volver arriba</a></p>
</div>

<div id="clase13">
<h3 id="clase13" class="numeroClase">Clase 13 (20-9-2023)</h3>

<dl>
<dt>
  <h4>Temas</h4>
</dt>
<dd></dd>
</dl>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0unw-Mruai0?si=6ghYT6ToYSx0N2Ep" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
  </div>
