body {
    background-image: url("https://img.freepik.com/free-vector/gradient-pastel-sky-background_23-2148917404.jpg?w=2000");
    height: 100%;
}

#mapa {
    background-image: url("../../../../../../../assets/img/Juego/patio.jpeg");
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#mapa button {
    border-radius: 100%;
    background-color: aliceblue;
    width: 20px;
    height: 20px;
    display: flex;
    position: absolute;
}

#criadero {
    top: 50%;
    right: 20%;
}

#granja {
    bottom: 20%;
    right: 15%;
}

#casa {
    top: 48%;
    left: 38%;
}

#mundo {
    bottom: 3%;
    left: 50%;
}