/*-------------------Life-------------------*/

h3 {
    text-align: center;
}

#progresoLife {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}

#progresoLife p {
    margin: 0;
    padding: 0;
}

#progresoLife img {
    width: 2rem;
    height: 2rem;
}

mat-progress-bar {
    margin: 0 1rem 0 1rem;
    border-radius: 5px;
}


body {
    padding: 2rem 5rem 2rem 1rem;
}

/*-------------------Pets-------------------*/

#listaPets h3 {
    text-align: center;
}

#listaPets {
    margin-top: 1rem;
}

#vistaMinuaturasPets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#miniaturaPet {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0 0.3rem 0;
}

#miniaturaPet img {
    width: 4rem;
    height: 4rem;
}