<div id="conteiner">
    <div id="horariosClase">
      <h2>Calendario clases</h2>
      <div id="horario">
        <table>
          <tr>
            <th>Horario/Dia</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sabado</th>
            <th>Domingo</th>
          </tr>
  
          <tr>
            <td>14:30 a 16:00</td>
            <td>
              <a href="meet.google.com/qpp-etyd-iws" target="_blank"
                >Codo a codo</a
              >
            </td>
            <td>Nada</td>
            <td>
              <a href="meet.google.com/qpp-etyd-iws" target="_blank"
                >Codo a codo</a
              >
            </td>
            <td>Nada</td>
            <td>Nada</td>
            <td>Nada</td>
            <td>Nada</td>
          </tr>
  
        </table>
      </div>
    </div>
  
    <div id="cajaCursos">
      <section class="clasesSincronicas">
        <h2 class="tituloTipoClase1">Sincronicas</h2>
        <a href="../CosasCursos/CodoACodo.html">
          <h3>Codo a codo -> Full stack Java</h3>
        </a>
  
        <a href="../CosasCursos/ITMaster.html">
          <h3>Argentina Programa 4.0 -> IT Master -> Web full stack</h3>
        </a>
  
        <a href="../CosasCursos/Facu.html">
          <h3>Facu -> TUP</h3>
        </a>
      </section>
      <section class="clasesAsincronicas">
        <h2 class="tituloTipoClase2">Asincronicas</h2>
  
        <a href="https://sqlinteractivo.desafiolatam.com" target="_blank">
          <h3>SQL certificado</h3>
        </a>
        <a href="../CosasCursos/CUI.html">
          <h3>Argentina Programa 4.0 -> CUI -> Ingles (terminado)</h3>
        </a>
      </section>
    </div>
  </div>
  