<body class="cuerpo-pagina" [class.noche]="noche">

  <section class="botones">

    <div class="clasesSincronicas" [class.clasesSincronicasNoche]="noche">
      <h2 class="tituloTipoClase1" (click)="getCursos(true)">Cursando</h2>
    </div>

    <div class="agregarEstudio">
      <button (click)="agregarCurso()">+</button>
    </div>

    <div class="clasesAsincronicas" [class.clasesAsincronicasNoche]="noche">
      <h2 class="tituloTipoClase2" (click)="getCursos(false)">Terminados</h2>
    </div>

  </section>

  <section class="vistaCurso">
    <nav>
      <ul *ngFor="let curso of listaCursos">
        <li [routerLink]="curso.datosPrivadosCursoId">{{curso.nombre}}</li>
      </ul>
    </nav>

    <section class="vistaPagina">
      <router-outlet></router-outlet>
    </section>

  </section>

</body>