:root {

  /*colores*/
  --color-rosa: #ffa9ff;
  --color-naranja: #ffce8e;
  --color-verde: #c1ff8e;
  --color-celeste: #8ebbffb9;
  --color-celeste-transparente:#8ebbff7a;
  --color-amarillo: rgb(255, 248, 157);
  --color-amarillo-transparente: rgba(255, 248, 157, 0.534);
  --color-rojo: rgba(252, 107, 107, 0.767);

  /* personalizacion generica*/
  --color-violeta-links: rgb(179, 98, 255);
  --sombra-generica: 4px 3px 5px #000000;
  --fondo-negro-difuminado: rgba(5, 5, 5, 0.733);

  /*letras*/
  --estilo-titulos: "Gluten", cursive;
  --estilo-letra-generico: Roboto, "Helvetica Neue", sans-serif;
}

/*---------------------------body paginas---------------------------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.cuerpo-pagina {
  background-image: url("https://img.freepik.com/free-vector/gradient-pastel-sky-background_23-2148917404.jpg?w=2000");
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 10rem;
  padding-right: 10rem;
  overflow: auto;
  font-family: var(--estilo-letra-generico);
  position: relative;
  flex-direction: column;
}

/*------------------------------------------------------------------*/


/*---------------------------tarjetas---------------------------*/

.tarjeta {
  height: 200px;
  width: 200px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--sombra-generica);
  overflow: hidden;
}

.agregar:hover {
  height: 220px;
  width: 220px;
  transition: 1s;
}

.tarjeta img {
  position: absolute;
  height: 200px;
}

.tarjeta a {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: var(--fondo-negro-difuminado);
  color: white;
  text-decoration: none;
  transition: 1s;
}

.tarjeta a:hover {
  height: 4rem;
}

#menu {
  position: absolute;
  top: 2px;
  left: 2px;
  color: var(--color-celeste);
  border-radius: 100%;
  background-color: var(--fondo-negro-difuminado);
  transition: 1s;
  z-index: 1;
  padding: 0;
  margin: 0;
}

/*------------------------------------------------------------*/