body {
    background-image: url("https://img.freepik.com/free-vector/gradient-pastel-sky-background_23-2148917404.jpg?w=2000");
    height: 100%;
}

#mapa {
    background-image: url("../../../../../../../assets/img/Juego/prueblo.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#mapa button {
    border-radius: 100%;
    background-color: aliceblue;
    width: 20px;
    height: 20px;
    display: flex;
    position: absolute;
}

#casa {
    left: 15%;
    top: 60%;
}

#tiendas {
    bottom: 23%;
    right: 45%;
}

#mundo {
    bottom: 3%;
    left: 50%;
}