<body class="cuerpo-pagina">

    <section class="containerLinks">

        <nav>
            <div class="logo">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/980045da-6c84-465e-9484-ac7ea72c01e7/ddnk46j-3c17f5dc-aa79-4d37-a401-070d7edb7ed3.png/v1/fill/w_1024,h_1345/chibi__lucifer_by_madyui0v0_ddnk46j-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTM0NSIsInBhdGgiOiJcL2ZcLzk4MDA0NWRhLTZjODQtNDY1ZS05NDg0LWFjN2VhNzJjMDFlN1wvZGRuazQ2ai0zYzE3ZjVkYy1hYTc5LTRkMzctYTQwMS0wNzBkN2VkYjdlZDMucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.4hh4cXOMWywvuabLs4NfqolaIxB3f7cLR3MC0LQPv3s"
                    alt="nifty">
                <h2>Cosas utiles</h2>
            </div>

            <ul>
                <li routerLink="cosas-utiles-programacion">Programacion</li>
                <li routerLink="cosas-utiles-mangas/manhwas">Mangas/manhwas</li>
                <li routerLink="cosas-utiles-estudiosGenerales">Estudio general</li>
                <li routerLink="cosas-utiles-idioma">Idiomas</li>
                <li routerLink="cosas-utiles-anime">Anime</li>
                <li routerLink="cosas-utiles-juegos">Juegos</li>
                <li routerLink="cosas-otros">Otros</li>
                
            </ul>
        </nav>

        <section class="vistalinks">
            <router-outlet></router-outlet>
        </section>

    </section>

</body>