section{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.logo{
    display: flex;
    margin-top: 2rem;
}

.logo img{
    width: 90px;
    margin-right: 2rem;
    margin-left: 2rem;
}

h2{
    font-size: 4rem;
    font-family: 'Single Day', cursive;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.mostrarLink{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 2rem;
}

.mostrarLink a{
padding: 1rem;
font-size: 1.5rem;
background-color: rgba(5, 5, 5, 0.733);
color: white;
text-decoration: none;
transition: 1s;
width: 100%;
}

.mostrarLink a:hover{
    padding: 2rem;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}