.tarjetaPJ {
    height: 330px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px black;
    overflow: hidden;
    transition: all 0.3s ease;
}

.tarjetaPJ img:first-child {
    height: auto;
    width: 100%;
    display: block;
    box-shadow: 0 60px 60px -60x rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
}

.tarjetaPJ p:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: 0.3s ease;
    opacity: 0;
}

.tarjetaPJ:hover p:last-child {
    opacity: 1;
    transform: translateY(10%);
}

.texto {
    background-color: rgba(77, 77, 77, 0.568);
    position: absolute;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    height: 25px;
}

.texto p {
    margin: 0;
    padding: 0;
    font-family: 'Single Day', cursive;
    font-size: 1.3rem;
}

.listaPj {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tarjetaPJ button i {
    font-size: 5rem;
}

.tarjetaPJ button {
    background: none;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
}

.tarjetaPJ:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

.tarjetaPJ::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom,
            transparent 10%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0) 95%);
    opacity: 0;
    transition: all 0.3s ease;
}

.tarjetaPJ:hover::before {
    opacity: 1;
}

.nombrePj {
    color: white;
    text-align: center;
    padding-bottom: 3rem;
    cursor: pointer;
}

.pendientes {
    margin-top: 2rem;
    width: 100%;
    background-color: var(--color-amarillo);
    border-radius: 20px;
    margin-bottom: 3rem;
    box-shadow: var(--sombra-generica);
}

.titulo {
    text-align: center;
    padding: 1rem;
}

h3 {
    font-size: 2rem;
    background-color: var(--color-celeste);
    box-shadow: var(--sombra-generica);
    border-radius: 20px;
}

.containerPendientes {
    display: flex;
    padding: 0.7rem;
    height: 300px;
}

.materiales {
    width: 50%;
    margin-right: 0.5rem;
    background-color: var(--color-rosa);
    border-radius: 20px;
    box-shadow: var(--sombra-generica);
}

.misiones {
    width: 50%;
    margin-left: 0.5rem;
    background-color: var(--color-rosa);
    border-radius: 20px;
    box-shadow: var(--sombra-generica);
}

button {
    padding: 0.5rem;
    background-color: var(--color-rosa);
    border: 0;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.botones {
    display: flex;
    justify-content: center;
}

h4 {
    background-color: var(--color-celeste);
    box-shadow: var(--sombra-generica);
    border-radius: 20px;
}