.imagenCuadro{
    width: 4rem;
}

.container{
    background-image: url("https://images.ctfassets.net/qyr5bjm559gz/1jQmtMJkFW8fotGWiwrz8w/78f05f883227b45dc1381588a17a7d8b/jina_discovery.png");
    margin: 0;
    padding: 0;
    font-family: "Bitter", serif;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5rem;
    padding-right: 5rem;
    overflow: auto;
}

.logo{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.tituloSeccion{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.tituloSeccion h2{
    font-size: 2rem;
    font-family: "Gluten", cursive;
}

.calculadora{
    margin-bottom: 2rem;
}