<app-loading *ngIf="loading; else elseBlock"></app-loading>
<ng-template #elseBlock>
<div class="container">
  <div class="logo">
    <img
      src="https://palia.wiki.gg/images/thumb/4/4d/Palia_Logo.png/214px-Palia_Logo.png"
      alt="Logo palia"
    />
  </div>

  <div class="tituloSeccion"><h2>Calculadora comidas / gusanos</h2></div>

  <div class="calculadora">

      <mat-form-field>
        <mat-label> Filtro </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Item" #input>
      </mat-form-field>


    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="img">
          <th mat-header-cell *matHeaderCellDef>Item</th>
          <td mat-cell *matCellDef="let element">
            <img class="imagenCuadro" src="{{ element.imagen }}" alt="" />
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef>Precio de venta</th>
          <td mat-cell *matCellDef="let element">{{ element.precio }}</td>
        </ng-container>

        <ng-container matColumnDef="precioComposta">
          <th mat-header-cell *matHeaderCellDef>Precio total composta</th>
          <td mat-cell *matCellDef="let element">{{ element.precioFinal }}</td>
        </ng-container>

        <ng-container matColumnDef="ganancia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ganancia</th>
          <td mat-cell *matCellDef="let element">{{ element.ganancia }}</td>
        </ng-container>

        <ng-container matColumnDef="profit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Profit</th>
          <td mat-cell *matCellDef="let element">
            {{ element.profit | number : "1.2-2" }}%
          </td>
        </ng-container>

        <ng-container matColumnDef="lumisanos">
          <th mat-header-cell *matHeaderCellDef>Lumisanos</th>
          <td mat-cell *matCellDef="let element">{{ element.lumigusanos }}</td>
        </ng-container>

        <ng-container matColumnDef="speedyGro">
          <th mat-header-cell *matHeaderCellDef>SpeedyGro</th>
          <td mat-cell *matCellDef="let element">{{ element.speedyGro }}</td>
        </ng-container>

        <ng-container matColumnDef="harversBoost">
          <th mat-header-cell *matHeaderCellDef>HarversBoost</th>
          <td mat-cell *matCellDef="let element">{{ element.harversBoost }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Seleccione una pagina"
      >
      </mat-paginator>
    </div>
  </div>
</div>
</ng-template>