<form [formGroup]="nuevoEvento">

<section>

    <h2>Cargar evento</h2>

    <div class="categoria">
        <p>Tipo de evento</p>
        <select formControlName="tipoEvento">
            <option value="EXAMENTP">Examen/TpFinal</option>
            <option value="Tarea">Tarea</option>
            <option value="Medico">Medico</option>
            <option value="Evento">Evento</option>
            <option value="Otro">Otro</option>
        </select>
    </div>

    <div>
        <p>Descripcion</p>
        <input type="text" formControlName="descripcionEvento" placeholder="Descripcion del evento">
    </div>

    <div>
        <p>Fecha</p>

        <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="fechaInicio" placeholder="Start date">
                <input matEndDate formControlName="fechaFin" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>

    </div>

    <div>
        <p>Horario</p>
        <input type="time" formControlName="horaEvento" placeholder="Hora de inicio del evento">
    </div>

    <div class="botones">
            <button class="cancelar" type="button" (click)="cancelar()"><p>Cancelar</p></button>
            <button class="confirmar" (click)="putsEvento()"><p>Terminar</p></button>
    </div>

</section>

</form>