<body>
<div id="codoAcodo">
    <ol id="indiceClases">
        <div id="codoAcodo">
            <ol id="indiceClases">
                <li><a href="#clase1"></a></li>
                <li><a href="#clase2"></a></li>
                <li><a href="#clase3"></a></li>
                <li><a href="#clase4"></a></li>
                <li><a href="#clase5"></a></li>
                <li><a href="#clase6"></a></li>
                <li><a href="#clase7"></a></li>
                <li><a href="#clase8"></a></li>
                <li><a href="#clase9"></a></li>
                <li><a href="#clase10"></a></li>
                <li><a href="#clase11"></a></li>
                <li><a href="#clase12"></a></li>
                <li><a href="#clase13"></a></li>
            </ol>
        </div>
    </ol>
</div>

<div id="videos">

    <img id="logoCursoCodoAcodo" src="../img/137408912-013f0d0c-37d1-4dc2-a1b5-77356c1003f3.png" alt="logoCodoACodo" />
    <div id="cosasImportantes">
        <h3>Cosas importantes:</h3>

        <ul>
            <li>Dias: Martes y Jueves</li>
            <li>Horario: 18:30 a 20:00</li>
            <li>Comision: 24196</li>
            <li>Link del meet para la clase: https://meet.google.com/way-wseb-soz</li>
            <li>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSd2wIH6dFvPCTS_tOPVC8_WEzbdbvkSaBPFi7XXF8JVPXx_BQ/closedform"
                    target="_blank">Asistencia</a>
            </li>
            <li>
                <a href="https://aulasvirtuales.bue.edu.ar">Campus Codo a codo</a>
            </li>
            <li>Mail de Docente: ayelen.leclerc@bue.edu.ar</li>
            <li>
                <a href="https://drive.google.com/drive/folders/1NlbSI3u9Q0nhHI8xSZuVw31RwNqk2wOm?usp=sharing" target="_blank">Drive
                    pasado por la docente</a>
            </li>
            <li>
                <a href="https://youtube.com/playlist?list=PLgjy32OHiHreYdZp8lsI1GNdn8CU6krLZ&feature=shared"
                    target="_blank">Videos de la clase</a>
            </li>
            <li>
                <a href="https://docs.google.com/forms/d/1jqyo9D5Bno8UE-Um8WcIT_m0pD4a_xGhrKfAzUn6QlE/viewform?edit_requested=true"
                    target="_blank">Formulatio Tutor</a>
            </li>
            <li>
                <a href="https://docs.google.com/spreadsheets/d/1_pBiSy9SZD2HnU3UVsYmpUlN7jnH5rQVWzZKouKguEI/edit#gid=1110984298"
                    target="_blank">TP integrador</a>
            </li>
        </ul>
    </div>

    <h2 class="tituloClases">Videos de las clases</h2>

    <div id="clase1">
        <h3 id="clase1" class="numeroClase">Clase 1 (31-7-2023)</h3>

        <dl>
            <dt>
                <h4>Temas</h4>
            </dt>
            <dd>
                Presentacion de la cursada, temas administrativos, modalidad y
                campus
            </dd>
        </dl>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CvHPhb7GmIg" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>

        <br />

        <p class="volverInicio"><a href="#logoCursoCodoAcodo">Volver arriba</a></p>
    </div>
</div>
</body>