<body>

    <section id="titulo">
        <h2>Recoleccion</h2>
    </section>

    <section id="img">
        <img src="" alt="">
    </section>
    
    <section id="datos">
        <section id="accion" class="info">
            <ul>
                <h3>Acciones</h3>
                <li>
                    <p>Recolectar</p>
                    <Button>-15 energia</Button>
                </li>
            </ul>
        </section>

        <section id="itemsInventario" class="info">
            <ul>
                <h3>Items en el inventario</h3>
                <li>
                    <p>nombre del item</p>
                </li>
            </ul>
        </section>

        <section id="drop" class="info">
            <ul>
                <h3>Rareza</h3>
                <li>
                    <p>item</p>
                </li>
            </ul>
        </section>
    </section>
</body>