<div id="social">
    <ul>
      <li>
        <a href="https://www.youtube.com/channel/UCDOECDRhfsqMi5twpdWcpyA" target="_blank"><i
            class="fa-brands fa-youtube" style="color: #fc4a94" title="Canal de youtube"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/carolina-ferraris-86264823b/" target="_blank"><i
            class="fa-brands fa-linkedin" style="color: #8ad2ff" title="Perfil de Linkedin"></i></a>
      </li>
      <li>
        <a href="https://github.com/LadyCari" target="_blank"><i class="fa-brands fa-github" style="color: #a393ff"
            title="Perfil Github"></i></a>
      </li>
      <li>
        <a href="https://discord.gg/tgkURMSk" target="_blank"><i class="fa-brands fa-discord" style="color: #dda1ff"
            title="Servidor de discord"></i></a>
      </li>
    </ul>
  </div>
