<div class="cuerpo">

    <section class="Titulo">
        <img src="" alt="">
        <h2>Nombre pj</h2>
    </section>

    <section class="imagenpj">
        <img src="" alt="">
    </section>

    <section class="sector3">
        <div class="imagenset">
            <img src="" alt="">
        </div>
        <div class="texto">
            <h3>Clase:</h3>
            <p></p>
            <h3>Objetivo:</h3>
            <p></p>
        </div>
    </section>

    <section class="info">

    </section>

</div>