body {
    background-image: url("https://img.freepik.com/free-vector/gradient-pastel-sky-background_23-2148917404.jpg?w=2000");
    height: 100%;
}

#mapa {
    background-image: url("../../../../../../assets/img/Juego/cueva.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

:host {
    display: block;
    width: 100%;
    height: 100%;
}

#mapa button {
    border-radius: 100%;
    background-color: aliceblue;
    width: 20px;
    height: 20px;
    display: flex;
    position: absolute;
}

#mina {
    bottom: 50%;
    left: 15%;
}

#cazar {
    bottom: 50%;
    right: 15%;
}

#mundo {
    bottom: 3%;
    left: 50%;
}