<body>
    <div id="izquierda">
        <div id="datosGeneralesPj">
            <div id="marcoPj">
                <img src="../../../../../../../assets/img/Juego/Tiendas/pj.png" alt="">
            </div>
            <div>
                <h3>nombre</h3>
                <div id="dinero">
                    <img src="" alt="">
                    <p>23423423</p>
                </div>
            </div>
        </div>

        <div id="stats">
            <h3>stats</h3>
            <ul>
                <li>
                    <p>nombre</p>
                    <p>numero</p>
                </li>
            </ul>
        </div>

        <div id="casa">
            <h3>Tier</h3>
            <div>
                <img src="" alt="">
                <p>numero</p>
            </div>
        </div>
    </div>

    <div id="derecha">
        <div id="setPj">
            <div id="listaArmaduras">
                <ul>
                    <li>item1</li>
                    <li>item2</li>
                    <li>item3</li>
                    <li>item4</li>
                    <li>item5</li>
                </ul>
            </div>
            <div id="listaAccesorios">
                <ul>
                    <li>item1</li>
                    <li>item2</li>
                    <li>item3</li>
                    <li>item4</li>
                    <li>item5</li>
                </ul>
            </div>
        </div>

        <div id="bonusPartesSets">
            <h3>Bonus partes set</h3>
            <ul>
                <li>
                    <p>nombre</p>
                    <p>cantidad</p>
                </li>
                <li>
                    <p>nombre</p>
                    <p>cantidad</p>
                </li>
                <li>
                    <p>nombre</p>
                    <p>cantidad</p>
                </li>
                <li>
                    <p>nombre</p>
                    <p>cantidad</p>
                </li>
            </ul>
        </div>

        <div id="bonusSets">
            <h3>Bonus set</h3>
            <p>texto largo</p>
        </div>
    </div>
</body>