<body>

    <div class="izquierda">
        <div class="datosGeneralesPj">
            <div class="marcoPj">
                <img src="../../../../../../../assets/img/Juego/Tiendas/pj.png" alt="">
            </div>
            <div class="nombreMoney">
                <h3>nombre</h3>
                <div class="dinero">
                    <img src="../../../../../../../assets/img/Juego/comercio.png" alt="">
                    <p>23423423</p>
                </div>
            </div>
        </div>

        <div class="container">
            <h3>stats</h3>
            <ul>
                <li>
                    <p>nombre</p>
                    <p>numero</p>
                </li>
            </ul>
        </div>

        <div class="container">
            <h3>Casa</h3>
            <div class="casa">
                <img src="../../../../../../../assets/img/casa.webp" alt="">
                <p>numero</p>
            </div>
        </div>
    </div>

    <div class="derecha">
        <div class="setPj">
            <div class="listaArmaduras">
                <ul>
                    <li><img src="../../../../../../../assets/img/Juego/NewPiskel.png" alt=""></li>
                    <li><img src="../../../../../../../assets/img/Juego/NewPiskel.png" alt=""></li>
                    <li><img src="../../../../../../../assets/img/Juego/NewPiskel.png" alt=""></li>
                    <li><img src="../../../../../../../assets/img/Juego/NewPiskel.png" alt=""></li>
                    <li><img src="../../../../../../../assets/img/Juego/NewPiskel.png" alt=""></li>
                </ul>
            </div>
            <div class="listaAccesorios">
                <ul>
                    <li><img src="../../../../../../../assets/img/Juego/NewPiskel.png" alt=""></li>
                    <li><img src="../../../../../../../assets/img/Juego/NewPiskel.png" alt=""></li>
                    <li><img src="../../../../../../../assets/img/Juego/NewPiskel.png" alt=""></li>
                    <li><img src="../../../../../../../assets/img/Juego/NewPiskel.png" alt=""></li>
                    <li><img src="../../../../../../../assets/img/Juego/NewPiskel.png" alt=""></li>
                </ul>
            </div>
        </div>

        <div class="container">
            <h3>Bonus partes set</h3>
            <ul>
                <li>
                    <p>nombre</p>
                    <p>cantidad</p>
                </li>
                <li>
                    <p>nombre</p>
                    <p>cantidad</p>
                </li>
                <li>
                    <p>nombre</p>
                    <p>cantidad</p>
                </li>
                <li>
                    <p>nombre</p>
                    <p>cantidad</p>
                </li>
            </ul>
        </div>

        <div class="container">
            <h3>Bonus set</h3>
            <p>texto largo</p>
        </div>
    </div>
</body>